global:
  scrape_interval: 15s

rule_files:
- alert_rules.yml

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - alertmanager:9093

scrape_configs:
- job_name: 'node-exporter'
  static_configs:
  - targets: [ 'node-exporter:9100' ]
- job_name: 'ecommerce-backend'
  static_configs:
  - targets: [ 'server:3000' ]
  metrics_path: '/metrics'
